@model LoginModel
@{
    Layout = "_LayoutloggedOut";
    ViewData["Title"] = "Login";
}


@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["errorMessage"]
    </div>
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["successMessage"]
    </div>
}

<form asp-controller="Login" asp-action="Singin" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(x => x.Password)

    </div>
    <p class="mb-4 text-sm max-auto"> 
        Esqueceu sua senha ?         
        <a asp-controller="Login" asp-action="RecoverPassword" class="text-primary text-gradient font-weight-bold">
            Redefinir minha senha
        </a>
    </p>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
</form>