@model RecoverPasswordModel
@{
    Layout = "_LayoutloggedOut";
    ViewData["Title"] = "Redefir a senha";
}


<form asp-controller="Login" asp-action="SendLinkToRecoverPassword" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email)

    </div>
    <p class="mb-4 text-sm max-auto">
        Esqueceu sua senha ?
        <a asp-controller="Login" asp-action="RecoverPassword" class="text-primary text-gradient font-weight-bold">
            Redefinir minha senha
        </a>
    </p>
    <button type="submit" class="btn btn-primary w-100">Redefinir Senha</button>
    <a class="btn btn-secondary w-100 mt-2" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
</form>